/* *** common *** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.es-1 {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

.es-1:hover {
    background-color: red;
    transition: 3s;
}

.es-2 {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 3s;
}

.es-2:active {
    width: 1500px;
}

.es-3 {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 1s;
}

.es-3:hover {
    border-radius: 50%;
}

.es-4 {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 2s;
}

.es-4:hover {
    background-color: white
}